<style>
  .container1{
    text-align: center;
    position: relative;

  }
  .container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .buttonHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    size: large;
  }

  .button_out_Holder{
  }

  body {
    background-color: #f4511e
  }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="/login_form">Login <span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="/users/new">Create Account <span class="glyphicon glyphicon-plus"></span></a></li>
      <li><a href="/bookings/">My Bookings <span class="glyphicon glyphicon-glass"></span></a></li>
      <li><form action="/sessions/logout">
            <input type="submit" class="btn btn-warning" value="LogOut" />
          </form></li>
    </ul>
  </div>
</nav>

  <div class="container1">
        <h1>ACTIVITY FINDER</h1>
      </div>
  <div class="containter2">
    <div class="container-fluid">
              <h2 class= "text-center">We find activities for you!</h2>
              <h4 class= "text-center">Maybe not the ones you like</h4>
              <p class= "text-center">..nor you ever heard of..</p>
                <div class="buttonHolder">
                <form action="/activities/random">
                  <input type="submit" class="btn btn-info" value="Random Activity" /> <span class="glyphicon glyphicon-search"></span>
                </form>
                </div>
          </div>
        </div>

</body>
</html>
